<%- include("partials/header", {title: title}) %>
<main class="container">
    <% if(locals.file) { %>
    <h1>File-Details</h1>
        <a href="<%= locals.folderUuid ? `/drive/${folerUuid}` : "/drive"%>">go back</a>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name: </td>
                <td><%=file.name%></td>
            </tr>
            <tr>
                <td>Size: </td>
                <td><%=(file.size / 8)%> Kb</td>
            </tr>
            <tr>
                <td>Upload Time: </td>
                <td><%=file.uploadTime.toLocaleDateString() %> <%= file.uploadTime.toLocaleTimeString()%></td>
            </tr>
            <tr>
                <td>Action: </td>
                <td>
                    <a href="/drive/single-file/<%= file.uuid%>/download" type="button" class="button">Download</a>
                    <a href="/drive/single-file/<%= file.uuid%>/delete" type="button" class="button del">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <% } %>
</main>
<%- include("partials/footer")%>